{% load static %}
{% load navbar_tags %}

<nav class="navbar navbar-expand-sm bg-primary p-0" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="{% url 'clients-list' %}"><img src="{% static 'image/UnimexLogo.jpg' %}"
        alt="Unimex"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clients-list' %}" id="clients"> Clientes </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false" id="reports">Reportes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'reports_sm' %}" id="menu_report_sm">Envíos dinero</a></li>
            <li><a class="dropdown-item" href="{% url 'reports_chk' %}" id="menu_report_chk">Cheques</a></li>
            <li><a class="dropdown-item" href="{% url 'reports_mo' %}" id="menu_report_mo">Money orders</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks-list' %}" id="tasks"> Tareas 
            <span class="badge text-bg-danger">{% open_tasks %}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'companies-list' %}" id="companies"> Empresas
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="returns">
            Devoluciones 
              <span class="badge text-bg-danger">{% open_check_returns %}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'list_returned_check' %}" id="menu_return_chk">Cheques</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false" id="balance">Balance</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'balance-personal' %}" id="menu_balance_personal">Personal</a></li>
            <li><a class="dropdown-item" href="{% url 'balance-diario' %}" id="menu_balance_diario">Diario</a></li>
            {% if request.user.is_superuser %}
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" href="{% url 'balance-mensual' %}" id="menu_balance_mensual">Mensual</a></li>
            {% endif %}
          </ul>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts-list' %}" id="users"> Usuarios </a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false" id="profile">{{user}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'password-update' %}">Cambiar contraseña</a></li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item dropdown-danger" href="{% url 'accounts-logout' %}">Cerrar sessión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function () {
    if (window.location.pathname.startsWith("/clients/list_clients") ||
      window.location.pathname.startsWith("/clients/view_client/") || 
      window.location.pathname.startsWith("/clients/create_client") ||
      window.location.pathname.startsWith("/clients/update_client") ||
      window.location.pathname.startsWith("/clients/upload_document/")||
      window.location.pathname.startsWith("/clients/new_transfer_package/")||
      window.location.pathname.startsWith("/clients/new_moneyorder/")) {
      $("#clients").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/reports/reports_sm") || 
        window.location.pathname.startsWith("/reports/reports_chk") ||
        window.location.pathname.startsWith("/reports/reports_mo")) {
      $("#reports").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/reports/reports_sm")) {
      $("#menu_report_sm").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/reports/reports_chk")) {
      $("#menu_report_chk").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/reports/reports_mo")) {
      $("#menu_report_mo").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/tasks/list") ||
        window.location.pathname.startsWith("/tasks/create") ||
        window.location.pathname.startsWith("/tasks/detail")) {
      $("#tasks").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/accounts/list/") ||
      window.location.pathname.startsWith("/accounts/update/") ||
      window.location.pathname.startsWith("/accounts/new/")) {
      $("#users").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/accounts/password_update/")) {
      $("#profile").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/companies/list")) {
      $("#companies").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/balance/")) {
      $("#balance").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/balance/personal") ||
        window.location.pathname.startsWith("/balance/movimiento")) {
      $("#menu_balance_personal").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/balance/diario")) {
      $("#menu_balance_diario").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/balance/mensual")) {
      $("#menu_balance_mensual").addClass("active fw-bold");
    }

    if (window.location.pathname.startsWith("/clients/list_returned_check")) {
      $("#returns").addClass("active fw-bold");
      $("#menu_return_chk").addClass("active fw-bold");
    }
  });
</script>