{% extends 'accounts//base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card border-secondary">
    <div class="card-header">Nuevo usuario</div>
    <div class="card-body">
        <form method="post" id="account_new_form" class="row g-3" novalidate>
            {% csrf_token %}
            <div class="col-md-6"> {{ form.username|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.email|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.first_name|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.last_name|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.password|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.password2|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.is_active|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.is_superuser|as_crispy_field }} </div>
        </form>
    </div>
    <div class="card-footer text-end">
        <a class="btn btn-outline-danger" href="{% url 'accounts-list' %}"> Cancelar </a>
        <button type="submit" form="account_new_form" class="btn btn-success"> Guardar </button>
    </div>
</div>
{% endblock %}