{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="background" id="logobg"></div>
<div class="card">
    <img src="{% static 'image/UnimexLogo.jpg' %}" alt="Unimex Envios" class="logo mx-auto" id="logo-source">
    <h2 class="mb-4 text-center">Inicio de sesión</h2>
    <form method="post" autocomplete="off" id="loginForm">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary w-100 btn-block p-2" id="submitLogin">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner"></span>
            <span id="btnText">Iniciar sesión</span>
        </button>
    </form>
</div>
<script>
    $(document).ready(function () {
    var img = document.getElementById("logo-source");
    $('#logobg').css('background-image', 'url(' + img.src + ')');

    $('#loginForm').on('submit', function(e) {
      //e.preventDefault(); // Optional: only if you're not letting it submit normally

      // Disable button
      $('#submitLogin').prop('disabled', true);

      // Show spinner, hide text
      $('#spinner').removeClass('d-none');
      $('#btnText').text('Cargando...');

      // Simulate an AJAX request or form process
      setTimeout(() => {
        // Example: re-enable after 3 seconds
        $('#submitLogin').prop('disabled', false);
        $('#spinner').addClass('d-none');
        $('#btnText').text('Submit');
      }, 3000);
    });
});
</script>
<style>
    body {
        background: #f8f9fa;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .background {
        position: fixed;
        right: 10%;
        width: 60%;
        height: 60%;
        /*background-image: url("{% static 'image/UnimexLogo_bg.jpg' %}");*/
        background-size: cover; /* Fill entire screen */
        background-position: center;
        filter: blur(12px) opacity(25%); /* Apply blur */
        z-index: -1; /* Put it behind other content */
    }
    .card {
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 100%;
        max-width: 400px;
    }
    .logo {
        width: 135px;
        height: 64px;
        object-fit: contain;
        margin-bottom: 1rem;
    }
</style>
{% endblock %}
