{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'tasks-list'%}">Tareas</a></li>
    <li class="breadcrumb-item active">Nueva tarea</li>
  </ol>
</nav>
{{ form.media.css }}
<div class="card">
  <h5 class="card-header">Nueva tarea</h5>
  <div class="card-body">
    <form method="post" class="row g-3" id="taskform" novalidate>
      {% csrf_token %}
      <div class="col-md-4"> {{ form.priority|as_crispy_field }} </div>
      <div class="col-md-4"> {{ form.task_type|as_crispy_field }} </div>
      <div class="col-md-4"> {{ form.due_date|as_crispy_field }} </div>
      <div class="col-md-4"> {{ form.assigned_to|as_crispy_field }} </div>
      <div class="col-md-8"> {{ form.clients|as_crispy_field }} </div>      
      <div class="col-md-12"> {{ form.description|as_crispy_field }} </div>
    </form>
  </div>
  <div class="card-footer text-end">
    <a class="btn btn-outline-danger" href="{% url 'tasks-list'%}"> Cancelar </a>
    <button type="submit" form="taskform" class="btn btn-primary"> Guardar </button>
  </div>
</div>
{{ form.media.js }}
{% endblock %}