{% extends 'accounts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'tasks-list'%}">Tareas</a></li>
    <li class="breadcrumb-item active">T{{ task.id|stringformat:"06d" }}</li>
  </ol>
</nav>

<div class="container mt-4">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="table-light" colspan="6">
                    <div class="d-flex align-items-center w-100">
                        <div>
                            <h3>T{{ task.id|stringformat:"06d" }}</h3>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#uploadFileModal">
                                <i class="bi bi-cloud-upload"></i> Agregar Documento
                            </button>
                            {% if user == task.assigned_to or user == task.created_by or task.assigned_to is None or request.user.is_superuser %}
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#updateTaskModal">
                                <i class="bi bi-pen"></i> Modificar Tarea
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="table-light">Estado</th>
                <td>{{ task.get_status_display }}</td>
                <th class="table-light">Prioridad</th>
                {% if task.get_priority_display == 'Alta' %}
                <td class="table-warning"> {{ task.get_priority_display }} </td>
                {% else %}
                <td>{{ task.get_priority_display }}</td>
                {% endif %}
                <th class="table-light">Fecha Vencimiento</th>
                {% if task.is_past_due %}
                <td class="table-danger"> {{ task.due_date|date:"m/d/y h:i a" }} </td>
                {% else %}
                <td> {{ task.due_date|date:"m/d/y h:i a" }} </td>
                {% endif %}
            </tr>
            <tr>
                <th class="table-light">Asignada a</th>
                <td>{{ task.assigned_to | default_if_none:"Todos" }}</td>
                <th class="table-light">Tipo</th>
                <td>{{ task.get_task_type_display }}</td>
                <th class="table-light">Creada por</th>
                <td>{{ task.created_by }}</td>
            </tr>
            <tr>
                <th class="table-light">Client</th>
                <td colspan="5">{{ task.client }}</td>
            </tr>
            <tr>
                <th class="table-light">Descripción</th>
                <td colspan="5">{{ task.description }}</td>
            </tr>
            {% if task.files.all %}
            <tr>
                <th class="table-light" rowspan="{{task.files.all.count}}"> Documentos </th>
                {% for f in task.files.all %}
                <th class="table-light">{{ f.created_by }}</th>
                <th colspan="2" class="table-light"> {{ f.uploaded_at|date:"m/d/y h:i a" }}</th>
                <td colspan="2"><a href="{% url 'task-view-file' f.id %}" data-bs-toggle="modal"
                        data-bs-target="#viewFileModal">{{ f }}</a></td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <th rowspan='0' class="table-light">Notas</th>
                <td colspan="5">
                    <form method="post">
                        {% csrf_token %}
                        {{ note_form.as_p }}
                        <div class="col text-end">
                            <button type="submit" class="btn btn-primary" name="add_note">Agregar Nota</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% for note in task.notes.all|dictsortreversed:"created_at" %}
            <tr>
                <th colspan="5" class="table-light">
                    <div class="row">
                        <div class="col">{{ note.created_by }}</div>
                        <small class="col text-end text-body-secondary">{{ note.created_at|date:"m/d/y h:i a" }}</small>
                    </div>
                </th>
            </tr>
            <tr>
                <td colspan="5" class="commentCell">{{ note.note }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No se han agregado notas aún</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal Upload -->
<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadFileModalLabel">Agregar Documento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="uploadForm">
                    {% csrf_token %}
                    {{ file_form|crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="uploadForm" name="add_file">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal View  -->
<div class="modal" id="viewFileModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="fileModalBody">
            <div class="modal-header">
                <h5 class="modal-title">Cargando...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Por favor espere...
            </div>
        </div>
    </div>
</div>

<!-- Update Task Modal -->
{{ task_form.media.css }}
<div class="modal fade" id="updateTaskModal" tabindex="-1" aria-labelledby="updateTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateTaskModalLabel">Modificar Tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="updateForm">
                    {% csrf_token %}
                    {{ task_form|crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="updateForm" name="update_task"> Guardar</button>
            </div>
        </div>
    </div>
</div>
{{ task_form.media.js }}

<script type="text/javascript">
    $(window).on('load', function () {
        var errors = '{{ file_form.errors }}'
        if (errors.length > 0) {
            $('#uploadFileModal').modal('show');
        }
    });

    $("a").click(function () {
        if ($(this).attr("data-bs-target") == "#viewFileModal") {
            var link = $(this).attr('href');
            $('#fileModalBody').load(link);
        }
    });
    $(document).ready(function () {
        $(".commentCell").html(function (index, oldHtml) {
            return oldHtml.replaceAll("(", "<br>&emsp;(");
        });
    });
</script>
{% endblock %}