<a class="btn btn-primary bt-sm" href="{% url 'update_client' client.id %}"> 
    <i class="bi bi-pencil"></i> Modificar cliente
</a> 
<br><br>
  <table class="table table-bordered">
    <tbody>
      <tr class="table-light">
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Creado</th>
      </tr>      
      <tr>
        <td> {{ client.first_name | default_if_none:"" }}  </td>
        <td> {{ client.last_name | default_if_none:"" }} </td>
        <td> {{ client.creation_date }} </td>
      </tr>
      <tr class="table-light">
        <th>Teléfono</th>
        <th scope="col" colspan="2">Email</th>
      </tr>  
      <tr>
        <td> {{ client.phone |default_if_none:"" }} </a></td>
        <td colspan="2">{{ client.email |default_if_none:"" }}</td>
      </tr>
      <tr class="table-light">
        <th scope="col">Dirección</th>
        <th scope="col">Pais</th>
        <th scope="col">Fecha de nacimiento</th>
      </tr>
      <tr>
        <td> {{ client.address |default_if_none:"" }}</td>
        <td> {{ client.country }} </td>
        <td>{{ client.date_of_birth |default_if_none:"" }}</td>
      </tr>
      <tr class="table-light">
        <th scope="col" colspan="2">Profesión</th>
        <th scope="col">Empresa</th>
      </tr>
      <tr>
        <td colspan="2"> {{ client.profession |default_if_none:"" }}</td>
        <td> {{ client.company |default_if_none:""}} </td>
      </tr>
    </tbody>
  </table>