<a class="btn btn-success bt-sm" href="{% url 'new_moneyorder' client.id %}">
    <i class="bi bi-coin"></i> Nueva Money Order
</a>
<br>

<div class="row">
    <div class="col-sm-6 offset-md-3">
<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col">Valor</th>
            <th scope="col">Empresa</th>
            <th scope="col">Fecha</th>
            <th scope="col">Creado por</th>
        </tr>
    </thead>
    <tbody>
        {% for mo in moneyorder %}
        <tr>
            <td>$ {{ mo.amount | floatformat:-2 }}</td>
            <td>{{ mo.broker_moneyorder }}</td>
            <td>{{ mo.created_at }}</td>
            <td>{{ mo.author }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Sin Money Orders.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>