<a class="btn btn-primary bt-sm" href="{% url 'upload_document' client.id %}"> 
    <i class="bi bi-cloud-upload"></i> Agregar documento
  </a> 
  <br><br>
<table class="table table-hover table-bordered">
    <thead class="table-light">
      <tr>
        <th scope="col">Documento</th>
        <th scope="col">Creado</th>
        <th scope="col">Vencimiento</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody>
        {% for doc in documents  %}
      <tr>
        <td><a href="{% url 'view_document' doc.id %}" data-bs-toggle="modal" data-bs-target="#myModal"> 
            {{ doc.get_document_type_display }} 
        </a></td>
        <td>{{ doc.creation_date }}</td>
        <td>
            {% if doc.due_date %}
                {% if doc.is_past_due %}
                    <span class="badge rounded-pill text-bg-danger"> {{ doc.due_date }} </span>
                {% else %}
                    <span class="badge rounded-pill text-bg-success"> {{ doc.due_date }} </span>
                {% endif %}
            {% endif %}
        </td>
        <td>{{doc.author}}</td>
      </tr>
      {% empty %}
      <tr><td colspan="4">No hay documentos para este cliente.</td></tr>
    {% endfor %}
    </tbody>
  </table>

     <!-- Modal Structure -->
     <div class="modal" id="myModal" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog modal-xl">
          <div class="modal-content" id="modalBody" >
            <div class="modal-header">
              <h5 class="modal-title">Cargando...</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Por favor espere...
            </div>
          </div>
        </div>
      </div>
      <script>
        $("a").click(function(){
          if( $(this).attr("data-bs-target")== "#myModal"){
            var link = $(this).attr('href');
            $('#modalBody').load(link);
          }
        }
        )
      </script>