{% extends 'accounts/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="card border-secondary">
    <div class="card-header"><h4>Nuevo cliente</h4></div>
    {{ form.media }}
    <div class="card-body">
        <form method="post" id="account_new_client" class="row g-3" novalidate>
            {% csrf_token %}
            <div class="col-md-6"> {{ form.first_name|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.last_name|as_crispy_field }} </div>
            <div class="col-md-4"> {{ form.phone|as_crispy_field }} </div>
            <div class="col-md-5"> {{ form.email|as_crispy_field }} </div>
            <div class="col-md-3"> {{ form.date_of_birth|as_crispy_field }} </div>
            <div class="col-md-7"> {{ form.address|as_crispy_field }} </div>
            <div class="col-md-5"> {{ form.country|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.profession|as_crispy_field }} </div>
            <div class="col-md-6"> {{ form.company|as_crispy_field }} </div>
        </form>
    </div>
    <div class="card-footer text-end">
        <a class="btn btn-outline-danger" href="{% url 'clients-list' %}"> Cancelar </a>
        <button type="submit" form="account_new_client" class="btn btn-success"> Guardar </button>
    </div>
</div>

<style>
    .select2-container .select2-selection--single{    
        height: 38px;
    }
    .select2-search__field{
        text-transform: uppercase;
    }
    .select2-results__options{
        height: 250px;
        overflow: scroll;
    } 
</style>
{% endblock %}