{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{ check_form.media }}

<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'clients-list'%}">Clientes</a></li>
        <li class="breadcrumb-item"><a href="{% url 'view_client' client.id 'checks'%}">{{client}}</a></li>
        <li class="breadcrumb-item active">
            {% if check_form.instance.pk %}
            Cheque # {{check_form.instance.check_number}}
            {% else %}
            Nuevo Cheque
            {% endif %}
        </li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-10 offset-md-1">
        <div class="card">
            <div class="card-body p-0">
                <form method="post" id="checkform" novalidate>
                    {% csrf_token %}
                    <h5 class="card-header">
                        {% if check_form.instance.pk %}
                        Modificar cheque # {{check_form.instance.check_number}}
                        {% else %}
                        Nuevo Cheque
                        {% endif %}
                    </h5>
                    {% if check_form.non_field_errors %}
                    <div class="alert alert-danger m-3 mb-0" role="alert">
                        {% for error in check_form.non_field_errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="p-3 row g-3">
                        <div class="col-md-3"> {{ check_form.amount|as_crispy_field }} </div>
                        <div class="col-md-2"> {{ check_form.comm_percent|as_crispy_field }} </div>
                        <div class="col-md-3"> {{ check_form.check_number|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ check_form.broker|as_crispy_field }} </div>
                        <div class="col-md-5"> {{ check_form.company|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ check_form.manager|as_crispy_field }} </div>
                        <div class="col-md-3"> {{ manager_form.phone|as_crispy_field }} </div>
                    </div>
                    <h5 class="card-header border-top bg-success text-white" style="display: none;" id="company-title">
                        Información de la empresa</h5>
                    <div class="p-3 row g-3" style="display: none;" id="company-info">
                        <div class="col-md-4"> {{ company_form.name|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ company_form.account_number|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ company_form.city|as_crispy_field }} </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                {{ company_form.color.label_tag }}
                            </div>
                            <div class="d-flex align-items-center gap-3">
                                {% for radio in company_form.color %}

                                {{ radio.tag }} <!-- The <input> -->
                                <label for="{{ radio.id_for_label }}" class="color-box bg-{{ radio.data.value }}">
                                    {{ radio.choice_label }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-8"> {{ company_form.comment|as_crispy_field }} </div>
                    </div>
                    <div id="resultFooter" class="alert alert-info d-none">
                        <strong>Comisión (<span id="comm_percent"></span>%):</strong> $<span id="commission"></span><br>
                        <strong>Valor a pagar:</strong> $<span id="finalAmount"></span>
                    </div>
                    <div class="card-footer text-end">
                        <a class="btn btn-outline-danger" href="{% url 'view_client' client.id 'checks' %}"> Cancelar
                        </a>
                        <button type="submit" form="checkform" class="btn btn-primary"> Guardar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

</body>
<style>
    .select2-container .select2-selection--single {
        height: 38px;
        padding-top: 6px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 6px;
    }

    .color-radio {
        display: none;
    }

    .color-box {
        font-size: 0;
        line-height: 0;
        color: transparent;

        width: 45px;
        height: 30px;
        display: inline-block;
        position: relative;
        /* Needed for absolute positioning of the icon */
        border: 2px solid #ddd;
        border-radius: 7px;
        cursor: pointer;
        transition: all 0.2s;
    }

    .bg-red {
        background-color: red;
    }

    .bg-green {
        background-color: green;
    }

    .bg-yellow {
        background-color: yellow;
    }

    /* Highlight when the hidden radio is checked */
    input:checked+.color-box::after {
        content: '\2713';
        /* Unicode Checkmark */
        position: absolute;
        top: -5px;
        right: -5px;
        width: 18px;
        height: 18px;
        background-color: white;
        /* Contrast background for the icon */
        color: black;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 50%;
        /* Makes it a circular badge */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    input:checked+.color-box {
        border-color: #333;
        transform: scale(1.05);
    }

    .select2-container .select2-selection--single {
        height: 38px;
        padding-top: 6px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 6px;
    }
</style>
<script>
    $(document).ready(function () {
        function formatOptionWithIcon(option) {
            if (!option.id) {
                return option.text; // Return the text if no ID (e.g., placeholder)
            }

            let icon = '';

            if (!parseInt(option.id) > 0) {
                icon = '<i class="bi bi-plus-circle"></i> ';
            }

            return $('<span>' + icon + option.text.toUpperCase() + '</span>');
        }
        $('#id_Check-amount').wrap('<div class="input-group"></div>');
        $('#id_Check-amount').before('<span class="input-group-text">$</span>');

        $('#id_Check-company').select2({
            templateResult: formatOptionWithIcon,
        });

        $('#id_Check-manager').select2({
            templateResult: formatOptionWithIcon,
        });

        $('#div_id_Check-company').find('.select2-selection').focus(function () {
            $('#id_Check-company').select2('open');
        });
        $('#div_id_Check-manager').find('.select2-selection').focus(function () {
            $('#id_Check-manager').select2('open');
        });
        $('#div_id_Company-city').find('.select2-selection').focus(function () {
            $('#id_Company-city').select2('open');
        });

        $('#div_id_Check-manager').on('select2:select', function (e) {
            var data = e.params.data;

            if (!parseInt(data.id) > 0) {
                $('#id_Manager-phone').val("");
                return;
            }

            $.ajax({
                url: "{% url 'get_manager_phone' %}", // URL to your Django view
                type: 'GET', // Or 'POST' depending on your needs
                data: { 'id': data.id }, // Data to send to Django
                success: function (data) {
                    $('#id_Manager-phone').val(data.phone);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error:", status, error);
                }
            });
        });

        $('#div_id_Check-company').on('select2:select', function (e) {
            var data = e.params.data;

            $.ajax({
                url: "{% url 'get_company_info' %}",
                data: { 'id': data.id },
                success: function (data) {
                    $("#company-title").show();
                    $("#company-info").show();
                    $('.select2-container').css('width', '100%');
                    $('#id_Check-manager').val(data.manager).trigger('change');
                    $('#id_Manager-phone').val(data.phone);
                    $("#id_Company-name").val(data.name);
                    $("#id_Company-account_number").val(data.account_number);
                    $("#id_Company-comment").val(data.comment);
                    $('input[name="Company-color"][value="' + data.color + '"]').prop('checked', true).trigger('change');
                    $('#id_Company-city').val(null).trigger('change');
                    if (data.city_id) {
                        const option = new Option(data.city, data.city_id, true, true);
                        $('#id_Company-city').append(option).trigger('change');
                    }
                    changeTitleCompanyColor(data.color);
                }
            });
        });

        $('input[name="Company-color"]').on('change', function () {
            changeTitleCompanyColor($(this).val());
        });

        $('#id_Check-amount').focus();
        if ($('#id_Check-company').val()) {
            $("#company-title").show();
            $("#company-info").show();
            $('.select2-container').css('width', '100%');
            changeTitleCompanyColor($('input[name="Company-color"]:checked').val());
        }
    });

    $(document).on('keyup', '.select2-search__field', function () {
        this.value = this.value.toUpperCase();
    });

    $('#id_Check-amount, #id_Check-comm_percent').on('focusout', function () {
        let amount = parseFloat($("#id_Check-amount").val());

        if (!isNaN(amount)) {
            let rawCommission = (amount * $('#id_Check-comm_percent').val()) / 100;
            let finalAmount = Math.floor(amount - rawCommission);
            let commission = amount - finalAmount;

            $('#commission').text(commission.toFixed(2));
            $('#comm_percent').text($('#id_Check-comm_percent').val());
            $('#finalAmount').text(finalAmount);
            $('#resultFooter').removeClass('d-none');
        } else {
            $('#resultFooter').addClass('d-none');
        }
    });

    function changeTitleCompanyColor(color) {
        switch (color) {
            case "green":
                $("#company-title").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success")
                break;
            case "yellow":
                $("#company-title").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning")
                break;
            case "red":
                $("#company-title").removeClass("bg-success").removeClass("bg-warning").addClass("bg-danger")
                break;
        }
    }
</script>
{% endblock %}