{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'clients-list'%}">Clientes</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_client' client.id 'moneyorders'%}">{{client}}</a></li>
            <li class="breadcrumb-item active">Nueva Money Order</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <div class="card">
                <div class="card-header">Nueva Money Order</div>
                <div class="card-body">
                    <form method="post" id="sendmoneyform" action="{% url 'new_moneyorder' client.id %}">
                        {% csrf_token %}
                        {% crispy moneyorder_form %}
                    </form>
                </div>
                <div class="card-footer text-end">
                    <a class="btn btn-outline-danger" href="{% url 'view_client' client.id 'moneyorders' %}"> Cancelar </a>
                    <button type="submit" form="sendmoneyform" class="btn btn-primary"> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}