{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}

<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-2">
      {{ form.creation_date|as_crispy_field }}
    </div>
    <div class="col-5">
      {{ form.author|as_crispy_field }}
    </div>
    <div class="col-2 ">
      <button type="submit" form="account_new_client" class="btn btn-success " id="generate_report"> Generar reporte
      </button>
    </div>
  </div>
</div>
<h4>Reporte de Envío de dinero</h4>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table table-hover table-bordered small" id="summarySM" style="display: none;">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center" colspan="2">Intermex</th>
            <th scope="col" class="text-center" colspan="2">Viamericas</th>
            <th scope="col" class="text-center" colspan="2">Ria</th>
            <th scope="col" class="text-center" colspan="2">Money Gram</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Total Envíos</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Cancelados días anteriores</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Cantidad Pagados</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Money Order</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <th scope="row"></th>
            <td></td>
            <th scope="row"></th>
            <td></td>
            <th scope="row"></th>
            <td></td>
            <th scope="row"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<table id="report_sm" class="table table-hover table-bordered small">
  <thead class="table-light">
    <tr>
      <th class="dt-head-center">Cliente</th>
      <th class="dt-head-center">Fecha</th>
      <th class="dt-head-center">País</th>
      <th class="dt-head-center">Creado por</th>
      <th class="dt-head-center"># Envío</th>
      <th class="dt-head-center">Intermex</th>
      <th class="dt-head-center">Viamericas</th>
      <th class="dt-head-center">Ria</th>
      <th class="dt-head-center">Money Gram</th>
    </tr>
  </thead>
  <tfoot class="table-light">
    <tr>
      <th colspan="4"></th>
      <th class="dt-head-right">Total:</th>
      <th class="dt-head-right"></th>
      <th class="dt-head-right"></th>
      <th class="dt-head-right"></th>
      <th class="dt-head-right"></th>
    </tr>
  </tfoot>
</table>
<br>
<h4>Reporte de Money Orders</h4>
<table id="report_mo" class="table table-hover table-bordered small">
  <thead class="table-light">
    <tr>
      <th class="dt-head-center">Cliente</th>
      <th class="dt-head-center">Fecha</th>
      <th class="dt-head-center">Empresa</th>
      <th class="dt-head-center">Creado por</th>
      <th class="dt-head-center">Valor</th>
    </tr>
  </thead>
  <tfoot class="table-light">
    <tr>
      <th colspan="3"></th>
      <th colspan="2" class="dt-head-right"></th>
    </tr>
  </tfoot>
</table>
<br>
<script>
  var report_sm_table = new DataTable('#report_sm', {
    columns: [
      { data: 'client' },
      { data: 'creation_date' },
      { data: 'country' },
      { data: 'author' },
      { data: 'broker_number' },
      { data: 'intermex' },
      { data: 'viamericas' },
      { data: 'ria' },
      { data: 'moneygram' },
    ],
    layout: {
      topEnd: {
        buttons: [{
          extend: 'print',
          text: '<i class="bi bi-printer"></i> Imprimir envíos dinero',
          className: 'btn btn-success',
          message: function () {
            return 'Reporte de envíos hechos el día ' + $('#id_creation_date').val()+
                "<br>" + $("#summarySM").prop("outerHTML");
          },
        }]
      }
    },
    order: [[1, 'asc']],
    serverSide: true,
    ajax: {
      url: "{% url 'report_send_money_ajax' %}",
      data: function (d) {
        d.id_creation_date = $('#id_creation_date').val();
        d.id_author = $('#id_author').val();
      },
    },
    columnDefs: [
      { width: '80px', targets: [3, 4, 5, 6, 7, 8] },
      { width: '165px', targets: 1 },
    ],
    scrollCollapse: true,
    processing: true,
    scroller: true,
    paging: false,
    info: false,
    scrollY: '60vh',
    searching: false,
    language: {
      infoEmpty: 'No hay envíos para esta fecha',
      zeroRecords: 'Reporte sin resultados'
    },
    "fnDrawCallback": function () {
      var api = this.api();
      var json = api.ajax.json();
      total = json.count_total[0] + json.count_total[1] + json.count_total[2] + json.count_total[3]
      if (total > 0 ){
        $("#summarySM").show();
      }else{
        $("#summarySM").hide();
      }
      $(api.column(0).footer()).html("Cantidad envíos: " + total);

      var j = 1;
      for (let i = 0; i < 4; i++) {
        $(api.column(i + 5).footer()).html(json.total_amount[i]);
        $("#summarySM tr:eq(1) td:eq(" + j + ")").html(json.total_amount[i]);
        $("#summarySM tr:eq(1) td:eq(" + (j - 1) + ")").html(json.count_total[i]);
        $("#summarySM tr:eq(2) td:eq(" + j + ")").html(json.total_cancel[i]);
        $("#summarySM tr:eq(2) td:eq(" + (j - 1) + ")").html(json.count_cancel[i]);
        $("#summarySM tr:eq(3) td:eq(" + j + ")").html(json.total_paid[i]);
        $("#summarySM tr:eq(3) td:eq(" + (j - 1) + ")").html(json.count_paid[i]);
        $("#summarySM tr:eq(4) td:eq(" + i + ")").html(json.count_mo[i]);
        $("#summarySM tr:eq(5) th:eq(" + i + ")").html(json.total[i]);
        j += 2
      }
    }
  });

  var report_mo_table = new DataTable('#report_mo', {
    columns: [
      { data: 'client' },
      { data: 'created_at' },
      { data: 'broker' },
      { data: 'author' },
      { data: 'amount' },
    ],
    order: [[1, 'asc']],
    serverSide: true,
    ajax: {
      url: "{% url 'report_money_order_ajax' %}",
      data: function (d) {
        d.id_creation_date = $('#id_creation_date').val();
        d.id_author = $('#id_author').val();
      },
    },
    scrollCollapse: true,
    processing: true,
    scroller: true,
    paging: false,
    info: false,
    scrollY: '60vh',
    searching: false,
    language: {
      infoEmpty: 'No hay money orders para esta fecha',
      zeroRecords: 'Reporte sin resultados'
    },
    layout: {
      topEnd: {
        buttons: [{
          extend: 'print',
          text: '<i class="bi bi-printer"></i> Imprimir Money orders',
          className: 'btn btn-success',
          message: function () {
            return 'Reporte de money order hechos el día ' + $('#id_creation_date').val()+
                "<br>" + $("#summarySM").prop("outerHTML");
          },
        }]
      }
    },
    "fnDrawCallback": function () {
      var api = this.api();
      var json = api.ajax.json();
      $(api.column(0).footer()).html("Cantidad money orders: " + json.count_mo);
      $(api.column(3).footer()).html("Total: $" + json.total_amount);
    }
  });

  $('#generate_report').on('click', function () {
    report_sm_table.draw();
    report_mo_table.draw();
    setTimeout(function () {
      report_sm_table.columns.adjust();
      report_mo_table.columns.adjust();
    }, 1000);
  });
</script>

<style>
  body.dt-print-view th,
  body.dt-print-view td {
    padding: .1em;
    font-size: 8pt;
  }

  table.dataTable tr td:is(:nth-child(6), :nth-child(7), :nth-child(8), :nth-child(9)) {
    text-align: right;
    width: 5%;
  }

  #summarySM td {
    text-align: right;
  }
  #summarySM tfoot th {
    text-align: right;
  }
</style>
{% endblock %}