{% load crispy_forms_tags %}
<div class="card">
    <h5 class="card-header">Registrar devolución</h5>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th class="table-light">Numero de cheque</th>
                <td><span>{{ check.check_number }}</span></td>
                <th class="table-light">Valor</th>
                <td><span>${{ check.amount }}</span></td>
            </tr>
            <tr>
                <th class="table-light">Cliente</th>
                <td colspan="3"><span id="detail_client">{{ check.client }}</span></td>
            </tr>
            <tr>
                <th class="table-light">Compañia</th>
                <td id="detail_company" colspan="3">{{ check.company }}</td>
            </tr>
            <tr>
                <th class="table-light">Número de cuenta</th>
                <td>{{ check.company.account_number }}</td>
                <th class="table-light">Ciudad</th>
                <td>{{ check.company.city }}</td>
            </tr>
            <tr>
                <th class="table-light">Manager</th>
                <td>{{ check.manager }}</td>
                <th class="table-light">Teléfono</th>
                <td>{{ check.manager.phone }}</td>
            </tr>
        </table>

        <form method="post" class="row g-3" action="{% url 'new_return_check'%}" id="newReturnCheckform" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <input type="hidden" name="step" value="guardar">
            {{ returnCheckForm.original_check }}
            <div class="col-md-3">
                {{ returnCheckForm.date_returned|as_crispy_field }}
            </div>
            <div class="col-md-9">
                {{ returnCheckForm.file_path|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ returnCheckForm.comment|as_crispy_field }}
            </div>
        </form>
    </div>
    <div class="card-footer text-end">
        <a class="btn btn-outline-danger" href="{% url 'list_returned_check' %}"> Cancelar </a>
        <button type="submit" form="newReturnCheckform" class="btn btn-success"> Guardar </button>
    </div>
</div>
