{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
  <div class="container">
    <h2 class="mb-4">Buscar clientes</h2>
    <form method="get" class="input-group mb-3">
      <input type="text" name="q" class="form-control" placeholder="Buscar ..." value="{{ query }}">
      <button class="btn btn-primary" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>

    {% if page_obj.object_list %}
    <table class="table table-bordered table-hover bg-white">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for client in page_obj.object_list %}
          <tr>
            <td><a href="{% url 'mobile_upload_document' client.id %}">{{ client.first_name }} {{ client.last_name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Pagination -->
    <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Anterior</a>
          </li>
        {% endif %}
          <li class="page-item disabled">
            <a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
          </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Siguiente</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  </div>
  <br><br>
</body>
{% endblock %}